* {
  margin: 0;
  padding: 0;
  background-color: #fff;
}

.page-container {
  width: 100%;
  height: 100%;
  background-color: green;
}

.page-container h1 {
  text-align: center;
  margin-top: 10px;
  margin-bottom: 10px;
}
